.App {
  text-align: center;
  width: 71vw;
  height: auto;
  /* border: 1px solid grey; */
  margin-left: 15vw;
  margin-top: 15vh;
  display: flex;
  flex-wrap: wrap;
}

.day-square {
  height: 7vw;
  width: 7vw;
}

.day-square-img {
  height: 7vw;
  width: 7vw;
  object-fit: cover;
  opacity: 0.5;
}

.day-square-img:hover {
  opacity: 1;
}
