@import url('https://fonts.googleapis.com/css?family=Share+Tech');
/* font-family: 'Share Tech', sans-serif; */
body {
  background-image: url("/banana-desk.jpg"), url("/gingertonic.jpeg")
}

.App {
  text-align: center;
  width: 71vw;
  height: auto;
  margin-left: 15vw;
  margin-top: 15vh;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Share Tech', sans-serif;
  color: #332f28;
  background-color: #d6a251;
  padding: 5vh;
  border: 2px dashed #332f28;
}

.day-square {
  height: 7vw;
  width: 7vw;
}

.day-square-img {
  height: 7vw;
  width: 7vw;
  object-fit: cover;
  opacity: 0.7;
  border-radius: 50%;
  border: 1px solid grey;
}

.day-square-img:hover {
  opacity: 1;
  border-radius: 30%;
  border: 2px solid #332f28;
}

.focus-image {
  height: 40vh;
  border: 2px solid #332f28;
}

.backdrop {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9998;
  background: rgba(0, 0, 0, 0.3);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: #d6a251;
  border: 5px dashed #857b6c;
  padding: 5vh;
  height: 80vh;
  overflow: scroll;
}

ul {
  margin-top: 2.5vh;
}

ul,li {
  list-style-type: none;
  list-style-position:inside;
  margin-left:0;
  padding:0;
}

a {
  text-decoration: none;
  color: green;
}

.modal-button {
  background-color: green;
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  font-size: 15px;
}
